html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container{
display: flex;
}

.image{
    width: 45%;
    height: 100vh;
    background-image: url(bg2.jpg);
    background-position: center;
    background-size: cover;
}

.logo{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 150px;
}

.odinImageLogo{
    height: 150px;
    object-fit: contain;
}

.OdinText{
    font-weight: 700;
    font-size: 3rem;
    padding-left: 25px;
    color: white;
}

.formSection{
    width: 55%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header{
    width: 80vh;
    display: flex;
    flex-direction: column;
 
}

.header >h1{
    font-size: 1.5rem;
}

.header > h2 {
    font-size:1.3rem;
}
.form{
    width: 80vh;
    display: flex;
    flex-direction: row;
    gap:50px;
    margin: 50px;
    align-items:flex-start;
    justify-content: start;
}
legend {
    font-size: 1.1rem;
}

input{
    padding: 5px;
    width: 250px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 5px;
    border: 0.5px solid black;
}

input:invalid {
    border-color: red;
  }
  
  input:valid {
    border-color: black;
  }

input:focus
{
    outline: none !important;
    border:1px solid white;
    background-color: #EEEEEE;
}

.account{
  
    display: flex;
    flex-direction: column;
}


button{
    width: 250px;
    margin-top: 30px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid slategray;
    background-color: #EEEEEE;
}

button:hover{
    background-color: #398AB9;
}

a{
    color: black;

}